body {
    font-family: 'Montserrat', Courier, sans-serif;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat/Montserrat-Regular.ttf');
url('../font/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('../font/Montserrat/Montserrat-Bold.ttf');
url('../font/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.header-сlass {
    background: fixed no-repeat bottom url('../img/sections_background/section-1-header.jpg');
    background-size: cover;
    box-sizing: border-box;
}

.perforating-menu {
    position: fixed;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    background-color: rgba(68, 68, 68, 0.5);
    font-weight: bold;
    color: #ffffff;
    z-index: 100;
}

.perforating-menu a {
    text-decoration: none;
}

.container {
    width: 1160px;
    margin: 0 auto;
    box-sizing: border-box;
}

.align-header-menu-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 25px;
}

.hexagon {
    display: inline-block;
}

.rectangle {
    width: 60px;
    background-color: #18CFAB;
    box-sizing: border-box;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.triangle-up {
    width: 0;
    height: 0;
    border-bottom: 15px solid #18CFAB;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.triangle-down {
    width: 0;
    height: 0;
    border-top: 15px solid #18CFAB;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.logo {
    font-size: 32px;
}

.hexagon a {
    display: block;
}

.hexagon a,
.logo span {
    color: #ffffff;
}

.logo span span {
    color: #18CFAB;
}

.navbar {
    width: 810px;
    display: flex;
    justify-content: flex-end;
}

.navbar li {
    display: inline-block;
    margin: 0 5px;
}

.navbar li:hover {
    border-bottom: 2px solid #18CFAB;
    padding-bottom: 44px;
}

.navbar a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
}

.navbar a:hover {
    color: #18CFAB;
}

.navbar div {
    margin-left: 10px;
}

.navbar .fa-search {
    font-size: 26px;
}

.header-content {
    color: #ffffff;
}

.header-content p:nth-child(1) {
    font-size: 35px;
    font-weight: bolder;
    text-transform: uppercase;
}

.header-content p:nth-child(2) {
    padding: 40px 0;
    font-size: 70px;
    font-weight: bolder;
    text-transform: uppercase;
}

.header-content p:nth-child(3) {
    font-size: 30px;
    text-transform: capitalize;
    color: #d4d4d4;
}

.header-content p > span {
    color: #18CFAB;
}

.header-content-align {
    padding: 366px 0 244px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button-wrap {
    padding-top: 100px;
}

.button {
    width: 170px;
    height: 60px;
    font-size: 13px;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 10px;
}

.header-сlass .button {
    box-shadow: 0 -5px 0 0 #ffffff;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    box-shadow: 0 0 0 0 #ffffff;
}

.button-explore {
    background-color: #18CFAB;
}

.button-purchase {
    background-color: #00CBF6;
}

/* ----- Header Section. Unique selling points: ----- */

.unique-selling-points {
    font-size: 20px;
    display: flex;
}

.unique-selling-points > div {
    width: 25%;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 120px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.unique-selling-points > div:nth-child(1),
.unique-selling-points > div:nth-child(3) {
    padding-top: 95px;
    background-color: #1c2a33;
    border-top: 6px solid #18cfab;
    color: #18cfab;
}

.unique-selling-points > div:nth-child(2),
.unique-selling-points > div:nth-child(4) {
    padding-top: 105px;
    background-color: #18cfab;
    border-top: 6px solid white;
    color: #ffffff;
}

.unique-selling-points > div:nth-child(1) img,
.unique-selling-points > div:nth-child(3) img {
    padding-bottom: 50px;
}

.unique-selling-points > div:nth-child(2) img,
.unique-selling-points > div:nth-child(4) img {
    padding-bottom: 60px;
}

/* ----- Our Services Section. Header: ----- */

.section-header {
    padding-top: 80px;
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
}

.underline {
    width: 76px;
    margin: 40px auto 74px;
    border-top: 1px solid #18cfab;
    box-shadow: 15px 4px 0 0 #18cfab;
}

/* ----- Our Services Section. Tabs: ----- */

.tabs {
    padding-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs-caption {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.tabs-caption-item {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-services .tabs-caption-item div:first-child {
    box-sizing: border-box;

    width: 190px;
    background-color: #f1f5f7;
}

.tabs-caption-item div:first-child {
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #e4e4e4;
}

.our-services .tabs-caption-item div:first-child:hover {
    background-color: #18cfab;
    border: 1px solid #18cfab;
    cursor: pointer;
    color: #ffffff;
}

.tabs-caption-item .triangle-down {
    /*box-sizing: border-box;*/
    display: none;
    border-top: 12px solid #18CFAB;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.our-services .tabs-caption-item.active div:first-child {
    background-color: #18cfab;
    border: 1px solid #18cfab;
    cursor: pointer;
    color: #ffffff;
}

.tabs-caption-item.active .triangle-down {
    display: block;
}

.tabs-caption-item span {
    display: inline-block;
    /*box-sizing: border-box;*/
    text-transform: capitalize;
    padding: 30px 0;
    font-size: 16px;
}

.tabs-content-item {
    display: flex;
}

.tabs-content-item img {
    width: 194px;
    height: 139px;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    margin-right: 20px;
}

.tabs-content-item p {
    text-align: justify;
}

.our-services .tabs-caption-item {
    font-size: 16px;
}

.our-services .tabs-content-item {
    font-size: 14px;
}

/* ----- Quick Order Section: ----- */

.quick-order {
    background: no-repeat center url('../img/sections_background/section-2.jpg');
    background-size: cover;
    box-shadow: 0 0 0 250px rgba(0, 0, 0, 0.5) inset;
}

.quick-order-content {
    padding: 130px 0;
    text-align: center;
}

.quick-order-content p:first-child {
    text-align-last: justify;
    font-size: 40px;
    color: #18cfab;
    font-weight: bolder;
    text-transform: uppercase;
}

.quick-order-content p:nth-child(2) {
    font-size: 16px;
    color: #D8D8D8;
    padding: 35px 0 80px;
}

.quick-order-content .button-purchase {
    background-color: #18cfab;
}

.quick-order-content .button {
    box-shadow: 0 -5px 0 0 #ffffff;
}

.button:active {
    box-shadow: 0 0 0 0 #ffffff;
}

/* ----- Our Amazing Work Section ----- */

.our-amazing-work {
    background-color: #f1f5f7;
}

.our-amazing-work .tabs {
    padding-bottom: 100px;
}

.our-amazing-work .tabs-caption-item div:first-child {
    padding: 0 30px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.our-amazing-work .tabs-caption-item div:first-child:hover,
.our-amazing-work .tabs-caption-item.active div:first-child {
    background-color: #ffffff;
    cursor: pointer;
    color: #18cfab;
}

.our-amazing-work .tabs-caption-item.active div:first-child {
    border-top: 2px solid #18cfab;
    margin-top: -1px;
}

.our-amazing-work .tabs-content {
    margin-bottom: 70px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.graphic,
.web,
.landing,
.wordpress {
    position: relative;
    overflow: hidden;

    width: 290px;
    height: 210px;
}

.graphic img,
.web img,
.landing img,
.wordpress img {
    width: 100%;
    height: 100%;
    transform: scale(1.01);

    background-color: #fff;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    margin: 0;
}

.shadow {
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    border-top: 4px solid #18cfab;
    opacity: 1;
    transition: all ease-in-out 300ms;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.graphic:hover .shadow,
.web:hover .shadow,
.landing:hover .shadow,
.wordpress:hover .shadow {
    bottom: 0;
    opacity: 1;
}

.shadow div {
    display: flex;
    justify-content: space-between;
}

.shadow > div:first-child {
    width: 35%;
}

.shadow div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shadow a {
    width: 100%;
    height: 100%;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow div div {
    font-size: 16px;
    width: 40px;
    height: 40px;
    border: 1px solid #18cfab;
    background-color: #fff;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow .fas {
    color: #18cfab;
}

.shadow div div:hover {
    background-color: #18cfab;
}

.shadow div div:hover .fas {
    color: #ffffff;
}

.shadow div p:first-child {
    color: #18cfab;
    font-size: 24px;
    font-weight: bolder;
    text-transform: uppercase;
}

.shadow div p:last-child {
    padding-top: 10px;
    font-size: 20px;
    color: grey;
    text-transform: capitalize;
}

.button-load {
    background-color: #18CFAB;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button-load:hover {
    background-color: #15ae90;
}

.button-load:active {
    background-color: #18cfab;
}

.button-load span:first-child {
    font-size: 30px;
}

/* ----- Breaking News Section ----- */

.breaking-news-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 133px;
}

.post-card {
    width: max-content;
    transform: scale(1.01);
    border: 1px solid #e4e4e4;
    position: relative;
    margin-bottom: 45px;
}

.post-card a {
    text-decoration: none;
}

.post-text {
    background-color: #f8fcfe;
}

.post-text div {
    padding: 0 0 14px;
    display: flex;
}

.post-text div p {
    padding: 0 14px;
}

.post-text div p a {
    font-size: 14px;
    color: #777777;
}

.post-text div p:nth-child(2) {
    border-left: 2px solid #777777;
}

.post-text-header {
    padding: 14px;
}

.post-text-header a {
    color: #777777;
    font-size: 18px;
    font-weight: bolder;
    text-transform: capitalize;
}

.post-date {
    width: 68px;
    height: 68px;
    background-color: #203e38;
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.post-card:hover .post-date {
    background-color: #18cfab;
}

.post-card:hover .post-text-header a {
    color: #18cfab;
}

/* ----- What People Say Section ----- */

.what-people-say {
    background: fixed no-repeat center url('../img/sections_background/section-3.jpg');
    background-size: cover;
    box-shadow: 0 0 0 1500px rgba(0, 0, 0, 0.5) inset;
}

.what-people-say .section-header {
    color: #ffffff;
}

.what-people-say .section-header span {
    text-transform: none;
}

.quotes {
    margin-bottom: 43px;
    color: #18cfab;
    font-size: 30px;
    text-align: center;
}

/*Gallery Of Best Images Section. Masonry*/

.grid-container,
.grid-container-2,
.grid-container-3 {
    height: 100%;
    box-sizing: border-box;
}

.grid-item,
.grid-item-2,
.grid-item-3 {
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.grid-item img,
.grid-item-2 img,
.grid-item-3 img {
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

.percent-margin-bottom {
    margin-bottom: 3%;
}

.percent-margin-bottom-1 {
    margin-bottom: 1%;
}

.grid-container-height {
    height: 470px;
}

.grid-item-2-height {
    height: 180px;
}

.grid-item-3-height {
    height: 90px;
}

.percent-width {
    width: 32%;
}

.percent-width-2 {
    width: 49.6%;
}

.percent-width-3 {
    width: 100%;
}

.percent-width-4 {
    width: 32.7%;
}

.gutter-size {
    width: 2%;
}

.gutter-size-2 {
    width: 1%;
}

.gallery .shadow {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 0 solid transparent;
    opacity: 0;

    transition: all ease-in-out 300ms;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.gallery .shadow:hover {
    opacity: 1;
}

.gallery .shadow > div:first-child {
    flex-direction: row;
    min-width: 90px;
    max-width: 35%;
}

.gallery .shadow div div {
    font-size: 16px;

    width: 40px;
    height: 40px;
    box-sizing: border-box;

    border: 1px solid #14b9d5;
    background-color: #14b9d5;
    border-radius: 5px;
    transition: all ease-in-out 500ms;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery .shadow .fas {
    color: #ffffff;
}

.gallery .shadow div div:hover {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.gallery .shadow div div:hover .fas {
    color: #14b9d5;
    font-size: 24px;
}

.gallery .container {
    position: relative;
    height: 100%;
}

.spinner-wrap-all {
    position: relative;
    margin: 80px auto;
}

.gallery .button-load {
    margin: 80px auto;
}

.gallery .spinner-wrap {
    background-color: #fff;
}

/* ----- Footer: ----- */

.footer-class {
    text-align: center;
}

.footer-class p {
    margin: 0 auto;
    padding: 47px 0;
    font-size: 14px;
    color: #c5c5c5;
    background-color: #22353f;
    text-transform: capitalize;
}

.footer-class p a {
    color: #18cfab;
    text-decoration: none;
    text-transform: none;
}