.container {
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.textColorWhite {
    color: #ffffff;
}

.headerClass {
    width: 100%;
    background-color: #1d2124;
    font-size: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.logo {
    width: auto;
    display: flex;
    box-sizing: border-box;
}

.logoImg {
    height: 27px;
    width: 27px;
}

.logoImgBox {
    width: 70px;
    box-sizing: border-box;
    background-color: #1a1d20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoText {
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
    box-sizing: border-box;
}

.headerMenu {
    width: 570px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.headerMenuItem {
    text-decoration: none;
}

.headerSearch {
    display: flex;
    width: 70px;
    background-color: #1a1d20;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.fas {
    font-size: 17px;
}

.parallax_1 {
    position: relative;
    width: 100%;
    height: 100vh;
    perspective: 1px;
    overflow-x: auto;
    overflow-y: hidden;

}

.parallaxLayer{
    position: absolute;
    height: 400px;
    width: 100%;
}

.flexBackImg {
    background: no-repeat bottom url('../img/flex/html_css_homework_homework6_img_header-bg.jpeg');
    background-size: cover;
}

.flexContainer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.flexHead {
    font: 27px ﻿AdobeInvisFont, Arial, ﻿Courier, sans-serif;
    text-transform: uppercase;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.buttonStyle {
    margin: 20px 10px;
    font: bold 18px ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold, sans-serif;
    width: 170px;
    height: 55px;
    border-radius: 5px;
    outline: none;
    box-sizing: content-box;
}

.buttonStyle:hover {
    cursor: pointer;
}

.buttonStyleGreen {
    border: 1px solid #89ca62;
    background-color: #89ca62;
}

.buttonStyleBlue {
    border: 1px solid #14b9d5;
    background-color: #14b9d5;
}

.flexContent {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.theHead2 {
    box-sizing: border-box;
    text-transform: uppercase;
    font: bold 27px AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold, sans-serif;
    color: #18b4cf;
    padding-top: 50px;
    width: 100%;
    text-align: center;
}

.backColorWhite {
    background-color: #ffffff;
}

.flexGallery {
    height: 960px;
    width: 1200px;
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
}

.flexGalleryItem {
    width: 370px;
    overflow: hidden;
    margin-top: 50px;
}

.flexGalleryItem:last-child {
    margin-bottom: 50px;
}

.flexGalleryItem1 {
    height: 320px;
    order: 1;
}

.flexGalleryItem2 {
    height: 440px;
    order: 3;
}

.flexGalleryItem3 {
    height: 355px;
    order: 5;
}

.flexGalleryItem4 {
    height: 320px;
    order: 2;
}

.flexGalleryItem5 {
    height: 310px;
    order: 4;
}

.flexGalleryItem6 {
    height: 440px;
    order: 6;
}

.flexGalleryImg1 {
    background-image: url("../img/flex/post-1-img@1X.png");
    height: 259px;
}

.flexGalleryImg2 {
    background-image: url("../img/flex/post-2-img@1X.png");
    height: 380px;
}

.flexGalleryImg3 {
    background-image: url("../img/flex/post-3-img@1X.png");
    height: 290px;
}

.flexGalleryImg4 {
    background-image: url("../img/flex/post-4-img@1X.png");
    height: 259px;
}

.flexGalleryImg5 {
    background-image: url("../img/flex/post-5-img@1X.png");
    height: 247px;
}

.flexGalleryImg6 {
    background-image: url("../img/flex/post-6-img@1X.png");
    height: 380px;
}

.flexCenter {
    display: flex;
    height: calc(320px - 259px);
    justify-content: center;
    align-items: center;
}

.parallax-2 {}

.gridBackImg{
    background: fixed no-repeat center url("../img/grid/html_css_homework_homework6_img_parallax-bg.jpeg");
    background-size: cover;
}

.theSecondHead {
    width: 100%;
    height: 600px;
    font: 27px AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    text-align: center;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(7, 1fr);
}

.theSecondHeadText {
    text-transform: uppercase;
    font: bold 32px ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    grid-area: 3/1;
}

.theSecondHeadGreenLine {
    width: 60px;
    height: 3px;
    box-sizing: border-box;
    border: 2px solid #169cb4;
    margin: 0 auto;
    grid-area: 4/1;
}

.popularClients {
    grid-area: 5/1;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 2vw;
    justify-content: center;
    align-items: start;
}

.popularClients1 {
    background-repeat: no-repeat;
}

.popularClients2 {
    background-repeat: no-repeat;
}

.popularClients3 {
    background-repeat: no-repeat;
}

.popularClients4 {
    background-repeat: no-repeat;
}

.popularClients1Size {
    height: 28px;
    width: 207px;
}

.popularClients2Size {
    height: 49px;
    width: 135px;
}

.popularClients3Size {
    height: 42px;
    width: 172px;
}

.popularClients4Size {
    height: 52px;
    width: 141px;
}

.topRatedGridContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: minmax(190px, auto);
    padding-top: 50px;
}

.topRatedImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    overflow: hidden;
}

.topRatedImg-1 {
    background-image: url('../img/grid/latest-post-1-img@1X.png');
}

.topRatedImg-2 {
    background-image: url('../img/grid/latest-post-2-img@1X.png');
}

.topRatedImg-3 {
    background-image: url('../img/grid/latest-post-3-img@1X.png');
}

.topRatedImg-4 {
    background-image: url('../img/grid/latest-post-4-img@1X.png');
}

.topRatedImg-5 {
    background-image: url('../img/grid/latest-post-5-img@1X.png');
}

.topRatedImg-6 {
    background-image: url('../img/grid/latest-post-6-img@1X.png');
}

.topRatedImg-7 {
    background-image: url('../img/grid/latest-post-7-img@1X.png');
}

.backColorGrey {
    background-color: #e3e1e1;
}

.hotNewsContainer {
    width: 100%;
}

.hotNewsGrid {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-gap: 30px 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
}

.block-i {
    box-sizing: border-box;
    overflow: hidden;
}

.block-2 {
    grid-area: 1/1/1/4;
}

.block-6 {
    grid-area: 2/1/2/3;
}

.block-7 {
    grid-area: 2/3/2/5;
}

.block-11 {
    grid-area: 3/1/3/3;
}

.block-12 {
    grid-area: 3/3/3/5;
}

.block-16 {
    grid-area: 4/2/4/5;
}

.hotNewsImg-2 {
    background-image: url('../img/grid/post-1-img@1X.png');
    height: 259px;
}

.textRight {
    text-align: right;
}

.imgTextHead {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
}

.maxHeight259px {
    height: 259px;
}

.hotNewsText {
    padding: 10px 20px;
    overflow: hidden;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: center;

}

.blockTextAlignStart {
    align-self: start;
}

.imgText {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold, sans-serif;
    font-size: 14px;
    color: rgba(91, 100, 105, 255);
}

.hotNewsImg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

.hotNewsImg-3 {
    background-image: url('../img/grid/post-2-img@1X.png');
    height: 210px;
}

.blockText-315 {
    height: 50px;
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-items: center;
}

.blockText-671112 {
    padding: 10px 20px;
    height: 160px;
    overflow: hidden;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: center;
}

.hotNewsImg-6 {
    background-image: url('../img/grid/post-3-img@1X.png');
    height: 259px;
}

.hotNewsImg-7 {
    background-image: url('../img/grid/post-4-img@1X.png');
    height: 259px;
}

.hotNewsImg-11 {
    background-image: url('../img/grid/post-4-img@1X (1).png');
    height: 259px;
}

.hotNewsImg-12 {
    background-image: url('../img/grid/post-6-img@1X.png');
    height: 259px;
}

.hotNewsImg-15 {
    background-image: url('../img/grid/post-7-img@1X.png');
    height: 210px;
}

.hotNewsImg-16 {
    background-image: url('../img/grid/post-8-img@1X.png');
    height: 259px;
}

.footerWrap {
    background-color: #1d2124;
    box-sizing: border-box;
}

.footerGrid {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    grid-template-rows: 80px;
}

.footerCopy {
    font-family: ﻿AdobeInvisFont, ﻿OpenSans, ﻿Courier, sans-serif;
    font-size: 13px;
}

.architectLinkDeco {
    text-decoration: none;
}

.footerLogo {
    display: grid;
    grid-template-columns: 7fr 1fr;
    justify-content: right;
}

.footerLogoImg {
    padding-top: 5px;
    text-align: right;
}

.footerLogoText {
    padding-top: 5px;
    text-align: right;
}

.footerLogoImgSize {
    height: 24px;
    width: 38px;
}

.footerLogoTextSize {
    height: 16px;
    width: 64px;
}

@media (max-width: 850px) {
    .headerClass {
        height: auto;
    }

    .headerMenu {
        display: block;
    }

    .headerMenuItem {
        display: block;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .logo {
        order: 1;
        width: auto;
        height: 70px;
    }

    .headerSearch {
        order: 2;
        height: 70px;
    }

    .headerMenu {
        order: 3;
        width: 100%;
    }

    .headerClass {
        flex-wrap: wrap;
    }
}

@media (max-width: 250px) {
    .headerSearch {
        width: 100%;
    }
}

@media (max-width: 1100px) {
    .flexGallery {
        height: calc(960px + 30%);
    }
}

@media (min-width: 700px) {
    .gridBlock-216 {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 700px) {
    .topRatedGridContainer {
        display: flex;
        flex-direction: column;
    }

    .topRatedImg {
        display: block;
        width: auto;
        height: 190px;
        margin: 2px 10px;
        box-sizing: border-box;
    }

    .popularClients {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        justify-content: center;
        text-align: center;
    }

    .hotNewsGrid {
        display: block;
        height: auto;
        padding: 50px 0;
    }

    .block-2, .block-3, .block-6, .block-7, .block-11, .block-12, .block-15, .block-16 {
        border: 4px solid #ffffff;
        box-sizing: border-box;
        height: auto;
        width: 100vw;

    }

    .blockText-671112 {
        height: auto;
    }
}