tr, td {
    border: 1px solid black;
}

.outlook {
    width: 150px;
    height: 50px;
    position: absolute;
    left: 5%;
    top: 20vh;
    border: 1px solid lightslategrey;
    border-radius: 20px;
    font-size: 24px;
}

.btnFont {
    font-size: 24px;
}

.outlineGreen {
    outline-color: green;
}

.greenField {
    background-color: lightgreen;
}

.redField {
    background-color: lightcoral;
}

.whiteField {
    background-color: white;
}

.position {
    position: absolute;
    left: 0;
    top: 50vh;
}

.container {
    width: 80%;
    height: 80%;
    position: absolute;
    box-sizing: border-box;
    border: 2px solid black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
    font-size: 24px;
}