.backImg {
    border: 1px solid transparent;
    background-size: cover;
    margin: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-image: url(../img/background.jpg);
}

.container {
    border: 1px solid transparent;
    box-sizing: border-box;
    width: 1056px;
    height: 768px;
    font-size: 18px;
    color: white;
    font-weight: 400;
    font-family: Verdana, Exo-2, sans-serif;
    margin: 0 auto;
}

.container::after{
    content: "";
    clear: both;
    display: table;
}

.headerClass {
    display: block;
    height: 50px;
    margin: 45px auto;
    border: 1px solid transparent;
}

.headerClass::after{
    content: "";
    clear: both;
    display: table;
}

.headerLeft {
    width: 270px;
    height: 44px;
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
}

.headerLeft::after {
    content: '';
    clear: both;
    display: table;
}

.imgLogo {
    background: url(../img/logo.png) no-repeat;
    height: 44px;
    width: 46px;
    float: left;
    display: block;
    border: 1px solid transparent;
}

.imgLogo:hover {
    background: url(../img/logo_click.png) no-repeat;
    cursor: pointer;
}


.textLogo {
    border-color: transparent;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    text-align: right;
    line-height: 1.2em;
    padding-left: 20px;
    width: 150px;
    color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    text-decoration: none;
}

.textSize29px {
    font-size: 29px;
}

.textLogo:hover {
    color: #F26522;
}

.headerRight {
    width: 300px;
    float: right;
    border: 2px solid transparent;
}

.textContacts {
    float: right;
    display: inline-block;
    border-width: 1px;
    line-height: 1.2em;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.wrap1,
.wrap2 {
    position: relative;
}

.wrap1::after {
    content: '';
    clear: both;
    display: table;
}

.wrap2::after{
    content: '';
    clear: both;
    display: table;
}

.figureClass {
    float: left;
    display: block;
    position: relative;
    margin-right: 55px;
    margin-bottom: 3%;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    overflow: hidden;
}

.figureClass::after{
    content: "";
    clear: both;
    display: table;
}

.figureClassRight {
    margin-right: -5px;
}

.pictureCut {
    display: block;
    position: relative;
    box-sizing: content-box;
    width: 305px;
    height: 199px;
    overflow: hidden;
    border-width: 4px;
    border-style: solid;
    border-color: transparent;
    border-image: linear-gradient(30deg, #ffffff, #ffffff, #ffffff, #ffffff, darkslategrey, darkslategrey, #F26522) 1 / 1 / 0 stretch;
}

.pictureSize {
    transform: scale(1.02);
    position: relative;
    overflow: hidden;
}

.orangeBlock {
    width: 313px;
    height: 60px;
    position: absolute;
    bottom: -60px;
    background-color: #F26522;
    transition: all 200ms ease-in-out;
}

.pictureCut:hover .orangeBlock {
    bottom: 0;
}

.textOrangeBlock {
    color: #ffffff;
    font-size: 10px;
    text-decoration: none;
}

.orangeBlockLeft {
    display: inline-block;
    line-height: 1.1rem;
    float: left;
    width: 40px;
    margin-top: 10px;
    margin-left: 20px;
}

.textSize20px {
    font-size: 20px;
}

.textSize14px {
    font-size: 14px;
    text-transform: capitalize;
}

.orangeBlockRight {
    float: right;
    display: inline-block;
    margin-right: 20px;
    margin-top: 25px;
}

.orangeBlock::after{
    content: "";
    clear: both;
    display: table;
}

.textSize14px::after {
    content: " >";
}

.pictureText {
    text-transform: capitalize;
    text-align: center;
    width: 305px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.pictureTextLink {
    color: #ffffff;
    text-decoration: none;
}

.pictureTextLink:hover {
    color: #F26522;
}

.clearClass{
    clear: both;
}

.footerText {
    text-align: center;
    font-size: 12px;
    padding-top: 37px;
    height: 69px;
    box-sizing: border-box;

}

.footerTextCapit {
    text-transform: capitalize;
}