.overlayAroundModalWindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #464646;
    opacity: 0.90;
    z-index: 1000;
    display: none;
}

.password-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 2px solid black;
    padding: 2vh 2vw;
    border-radius: 20px;
    width: max-content;
    width: -moz-max-content;
    background-color: #c7c7c7;
    height: 220px;
    position: relative;
    margin: 5vh auto;
    box-shadow: 0 20px 25px;
}

.input-wrapper {
    position: relative;
    /*width: intrinsic;*/
    width: max-content;
    width: -moz-max-content;
    text-align: center;
    /*width: -webkit-max-content;*/
}

.input-wrapper input {
    min-width: 120px;
    padding: 10px;
    margin-bottom: 24px;
}

.input-wrapper i {
    position: absolute;
    right: 10px;
    top: 12px;
    color: grey;
}

.btn {
    width: 150px;
    height: 50px;
    position: absolute;
    bottom: 2vh;
}

.message {
    line-height: 1.65rem;
    color: darkred;
    font-weight: bolder;
    font-size: 1.1rem;
    position: absolute;
    bottom: 80px;
}

/* --------------- modal window ------------------ */
.modalWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    background-color: #e6cad5;
    width: 600px;
    max-width: 100%;
    height: 250px;
    max-height: 100%;
    z-index: 1010;
    display: none;
}

.comeOnPopUp {
    display: block;
}

.modalWindowContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}

.modalWindowHeader {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.75rem;
    padding: 4vh 2vw 2vh;
    font-weight: bolder;
    color: #4f4f4f;
}

.modalWindowText {
    text-align: center;
    line-height: 1.75rem;
    padding: 2vw;
    font-weight: bold;
    font-size: 2em;
    /*color: #4f4f4f;*/
}

.icon-message {
    display: block;
    text-align: center;
}

.fa-smile {
    font-size: 64px;
    color: #008a00;
}

.fa-meh {
    font-size: 64px;
    color: #4f4f4f;
}

.closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #ff9d9d;
    border-width: 0;
    z-index: 1;
    box-sizing: border-box;
    outline: none;
}

.fa-power-off {
    font-size: 1.5em;
    font-weight: bolder;
}

.closeBtn:hover {
    background-color: #d78383;
    cursor: pointer;
}

.closeBtn:active {
    background-color: #a06161;
    font-size: 0.6em;
}