body {
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 280vh;
    margin-top: -120vh;
    background-color: #000;
    perspective: 1px;
}

.textWrap {
    overflow: hidden;
    transform-origin: 50% bottom;
    transform: perspective(50px) rotateX(0.3deg) scale(1.3);
    height: 100%;
}

.text {
    font: bold 4.5em/1.5em Verdana, sans-serif;
    color: #ff6;
    position: absolute;
    animation: scroll_3D 30s linear infinite;
}

@keyframes scroll_3D {
    0% {
        top: 280vh;
    }
    100% {
        top: -280vh;
    }
}

.text p {
    margin-top: 2em;
    margin-bottom: 2em;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.audio {
    position: absolute;
    height: 30px;
    top: 0;
    outline: none;
}