@font-face {
    font-family: 'Arimo';
    src: url('../font/Arimo/Arimo-Bold.eot');
    src: local('Arimo Bold'), local('Arimo-Bold'),
    url('../font/Arimo/Arimo-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/Arimo/Arimo-Bold.woff') format('woff'),
    url('../font/Arimo/Arimo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('../font/Arimo/Arimo.eot');
    src: local('Arimo'),
    url('../font/Arimo/Arimo.eot?#iefix') format('embedded-opentype'),
    url('../font/Arimo/Arimo.woff') format('woff'),
    url('../font/Arimo/Arimo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container {
    background-image: url("../img/background_2.png");
    background-repeat: no-repeat;
    font-family: Arimo, sans-serif;
    text-align: center;
    background-size: cover;
    height: 100vh;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
}

.theTable {
    display: table-cell;
    position: absolute;
    left: 50vw;
    top: 50vh;
    margin-top: -311px;
    margin-left: -570px;
}

td {
    background-color: aqua;
    /*border: 1px solid black;*/
    text-align: center;
    vertical-align: middle;
}

thead td {
    font-size: 22px;
    font-weight: bold;
    width: 157px;
    height: 112px;
}

thead td:first-child {
    width: 200px;
}

tbody td {
    /*height: 40px;*/
}

.font14px {
    font-size: 14px;
    font-weight: bold;
}

.font18px {
    font-size: 18px;
    font-weight: bold;
}

.font24px {
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.font36px {
    font-size: 36px;
    font-weight: bold;
    text-align: right;
}

.fontPriceDuration {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    vertical-align: middle;
}

.backColorGreen {
    background-color: #89c331;
    color: #ffffff;
    transition: all ease-in-out 100ms;
}

.backColorRed {
    background-color: #f04a56;
    color: #ffffff;
    transition: all ease-in-out 100ms;
}

.backColorDarkcyan {
    background-color: #20807c;
    color: #ffffff;
    transition: all ease-in-out 100ms;
}

.backColorWhite {
    background-color: #ffffff;
}

.backColorGrey {
    background-color: #e3e3e3;
}

.buttonHeight {
    height: 70px;
}

.borders {
    border-top: 3px solid #cccccc;
    border-bottom: 3px solid #cccccc;
}

.submitNewBlack {
    width: 140px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(#959595 0%, #0d0d0d 30%, #000000 100%);
    border-width: 2px;
    border-style: solid;
    border-color: #929292;
    border-radius: 10px;
    outline: none;
    transition: all ease-in-out 100ms;
}

.submitNewBlack:hover {
    background: linear-gradient(#959595 10%, #0d0d0d 45%, #000000 90%);
    border-color: #616161;
    font-size: 18px;
}

.submitNewBlack:active {
    background: linear-gradient(#959595 0%, #0d0d0d 30%, #000000 100%);
    border-color: #818181;
    font-size: 16px;
}

.fas, .far {
    color: #848484;
    font-size: 30px;
}

.centHeight {
    height: 11px;
}