#pageNavigationMenu {
    position: fixed;
    background-color: #d5d5d5;
    /*background-color: transparent;*/
    width: max-content;
    padding: 20px 20px;
    /*border: 4px solid #242424;*/
    margin: 80px 0;
    border-radius: 10px;
    left: -570px;
    transition: all 300ms;
    box-sizing: border-box;
    opacity: 0.5;
}

#pageNavigationMenu:hover {
    background-color: white;
    opacity: 0.9;
}

#pageNavigationMenu.active {
    left: 5px;
}

.pageNavMenuItem {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 0;
    text-align: right;
}

.pageNavMenuItem a {
    text-decoration: none;
    color: #18B4CF;
    font-family: Verdana, sans-serif;
    font-weight: 600;
    font-size: 18px;
    transition: all 50ms;
}

.pageNavMenuItem a:hover {
    font-weight: 600;
    color: #1ddeff;
}

.pageNavMenuItem a:active {
    color: #18B4CF;
}

.navigationBtn {
    margin: 0 0;
    background-color: #d5d5d5;
    left: 580px;
    top: 0;
    position: absolute;
    padding: 14px 5px;
    /*border: 4px solid #242424;*/
    border-radius: 10px;
    cursor: pointer;
    width: max-content;
    color: #18B4CF;
    box-sizing: border-box;
}

.navigationBtn i {
    font-size: 40px;
}

.navigationBtn:hover {
    background-color: #fff;
}

.navigationBtn:active {
    color: #1ddeff;
}

.goTop {
    font-family: Verdana, sans-serif;
    position: fixed;
    bottom: 11vh;
    right: -125px;
    width: max-content;
    /*background-color: transparent;*/
    background-color: rgba(227, 225, 225, 0.5);
    /*border: 4px solid #242424;*/
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #242424;
    text-decoration: none;
    transition: all 50ms;
}

.goTop.active {
    right: 5px;

}

.goTop:hover {
    cursor: pointer;
    color: #1ddeff;
    /*background-color: #fff;*/
}

.goTop:active {
    color: #18B4CF;
}

.goTop > * {
    padding: 10px 8px;
}