
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    width: 1281px;
    margin: 0 auto
}

header {
    text-align: center;
    height: 80px;
}

.menu a {
    color: #16a085;
    text-decoration: none;
}

.menu a:hover {
    color: #16b085;
    border: 1px #16b085 solid;
    border-radius: 4px;
    padding: 0 3%;
}

.menu a:active {
    color: #16c085;
    border: 2px #16c085 solid;
    border-radius: 4px;
    padding: 0 3%;
}

.menu li {
    display: inline-block;
    width: 200px;
    color: #16a085;
    font-size: 18px;
    font-weight: 900;
    line-height: 80px;
}

div {
    background-color: lavender;
    text-align: center;
}

.text {
    padding: 0 10% 2%;
    text-align: center;
}

.text b {
    font-weight: 600;
}

h3 {
    font-size: 17px;
    font-weight: 600;
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: center;
}

.bottom {
    font-size: 12px;
    text-align: right;
    font-weight: 600;
    margin-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.but1 {
    background: #16a085;
    color: #ffffff;
    font-size: 10px;
    font-weight: 600;
    height: 50px;
    width: 190px;
    margin: 0 0 5%;
    border: 0;
    border-radius: 4px;
}

.but1:hover {
    background-color: #16b085;
}

.but1:active {
    background-color: #16c085;
}