@font-face {
    font-family: 'Arimo';
    src: url('../font/Arimo/Arimo-Bold.eot');
    src: local('Arimo Bold'), local('Arimo-Bold'),
    url('../font/Arimo/Arimo-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/Arimo/Arimo-Bold.woff') format('woff'),
    url('../font/Arimo/Arimo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('../font/Arimo/Arimo.eot');
    src: local('Arimo'),
    url('../font/Arimo/Arimo.eot?#iefix') format('embedded-opentype'),
    url('../font/Arimo/Arimo.woff') format('woff'),
    url('../font/Arimo/Arimo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container {
    background-image: url("../img/background_2.png");
    background-repeat: no-repeat;
    font-family: Arimo, sans-serif;
    background-size: cover;
    height: 100vh;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    min-width: 500px;
}

.theTable {
    display: table-cell;
    position: absolute;
    left: 50vw;
    top: 50vh;
    margin-top: -311px;
    margin-left: -570px;
}

td {
    text-align: center;
    vertical-align: middle;
    height: 170px;
}

thead td {
    font-size: 22px;
    font-weight: bold;
    width: 157px;
    height: 112px;
}

thead td:first-child {
    width: 200px;
}

thead td:not(:first-child){
    line-height: 1.5em;
}

tbody td:not(:first-child){
    line-height: 1.5em;
}

tbody td:first-child {
    font-weight: bold;
    color: white;
}

.font14px {
    font-size: 14px;
}

.font18px {
    font-size: 18px;
}

.font20px {
    font-size: 20px;
}

.font24px {
    font-size: 24px;
    font-weight: bold;
}

.font36px {
    font-size: 36px;
    text-align: right;
}

.backColorWhite {
    background-color: #ffffff;
}

.backColorGrey {
    background-color: #e3e3e3;
}

.borders {
    border-top: 3px solid #cccccc;
    border-bottom: 3px solid #cccccc;
}

.submitNewBlack {
    width: 140px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(#959595 0%, #0d0d0d 30%, #000000 100%);
    border-width: 2px;
    border-style: solid;
    border-color: #929292;
    border-radius: 10px;
    outline: none;
    transition: all ease-in-out 100ms;
}

.submitNewBlack:hover {
    background: linear-gradient(#959595 10%, #0d0d0d 45%, #000000 90%);
    border-color: #616161;
    font-size: 18px;
}

.submitNewBlack:active {
    background: linear-gradient(#959595 0%, #0d0d0d 30%, #000000 100%);
    border-color: #818181;
    font-size: 16px;
}

.generalClass {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
}

.priceName {
    width: 100%;
    height: 45px;
    top: 0;
    left: 0;
    padding-top: 15px;
}

.priceDollar {
    width: 35%;
    height: 50px;
    left: 0;
    top: 45px;
    padding-top: 6px;
}

.priceCent {
    width: 15%;
    height: 50px;
    left: 35%;
    top: 45px;
    text-align: left;
    padding-top: 10px;
}

.priceDuration {
    width: 50%;
    height: 50px;
    top: 45px;
    right: 0;
    padding-top: 20px;
}

.priceButton {
    width: 100%;
    height: 76px;
    bottom: 0;
    left: 0;
    padding-top: 15px;
}

.leftCellGreen {
    background-color: #89c331;
    position: relative;
}

.leftCellRed {
    background-color: #f04a56;
    position: relative;
}

.leftCellDarkcyan {
    position: relative;
    background-color: #20807c;
}

.fas, .far {
    color: #848484;
    font-size: 24px;
}