@font-face {
    font-family: 'Arimo';
    src: url('../font/Arimo/Arimo.ttf');
url('../font/Arimo/Arimo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('../font/Arimo/Arimo-Bold.ttf');
url('../font/Arimo/Arimo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.container {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    font-family: Arimo, sans-serif;
    text-align: center;
    background-size: cover;
    height: 100vh;
    text-transform: uppercase;
    font-size: 18px;
    position: relative;
    min-width: 600px;
}

.theTable {
    position: absolute;
    left: 50vw;
    top: 50vh;
    margin-top: -345px;
    margin-left: -570px;
}

thead tr td {
    background-color: white;
}

td {
    background-color: aquamarine;
    display: table-cell;
    vertical-align: middle;
}

.borderLeft {
    border-left: 3px solid #cccccc;
}

thead tr th {
    display: table-cell;
    vertical-align: middle;
    width: 277px;
    background-color: white;
    overflow: hidden;
    position: relative;
}

thead > tr > th:first-child {
    width: 310px;
    font-size: 18px;
    font-weight: bold;
}

.font30px {
    font-size: 30px;
    font-weight: bold;
}

.font24px {
    font-size: 24px;
    font-weight: bold;
}

.font16px {
    font-size: 16px;
    color: #848484;
}

.backColorGreen {
    background-color: #89c331;
    color: #ffffff;
    transition: all ease-in-out 100ms;
}

.backColorGreen:hover {
    background-color: #6B9926;
    font-size: 30px
}

.backColorRed {
    background-color: #f04a56;
    color: #ffffff;
    transition: all ease-in-out 100ms;
}

.backColorRed:hover {
    background-color: #D2404C;
    font-size: 46px
}

.backColorDarkcyan {
    background-color: #20807c;
    color: #ffffff;
    transition: all ease-in-out 100ms;
}

.backColorDarkcyan:hover {
    background-color: #20707c;
    font-size: 30px
}

.backColorLightgrey {
    background-color: #f2f2f2;
}

.backColorGrey {
    background-color: #e3e3e3;
}

.cellHeight70 {
    height: 70px;
}

.cellHeight90 {
    height: 90px;
}

.cellHeight100 {
    height: 100px;
}

.priceCell {
    position: relative;
}

.priceGeneralClass {
    font-weight: bold;
    box-sizing: border-box;
    display: table-cell;
}

.priceDollar {
    font-size: 60px;
    text-align: right;
    width: 135px;
    height: 88px;
    vertical-align: middle;
}

.priceCent {
    font-size: 24px;
    text-align: left;
    width: 139px;
    height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: bottom;
    padding-top: 20px;
}

.priceDuration {
    font-size: 22px;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    width: 139px;
    height: 44px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.submitNewBlack {
    width: 250px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(#959595 0%, #0d0d0d 30%, #000000 100%);
    border-width: 2px;
    border-style: solid;
    border-color: #929292;
    border-radius: 40px;
    outline: none;
    transition: all ease-in-out 100ms;
}

.submitNewBlack:hover {
    background: linear-gradient(#959595 10%, #0d0d0d 45%, #000000 90%);
    border-color: #616161;
    font-size: 18px;
}

.submitNewBlack:active {
    background: linear-gradient(#959595 0%, #0d0d0d 30%, #000000 100%);
    border-color: #818181;
    font-size: 16px;
}

.submitNewGreen {
    width: 250px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(#f5f5c5 0%, #89c331 30%, #6B9926 100%);
    border-width: 2px;
    border-style: solid;
    border-color: #929292;
    border-radius: 40px;
    outline: none;
    transition: all ease-in-out 100ms;
}

.submitNewGreen:hover {
    border-color: #616161;
    background: linear-gradient(#f5f5c5 10%, #89c331 45%, #6B9926 100%);
    font-size: 18px;
}

.submitNewGreen:active {
    background: linear-gradient(#f5f5c5 0%, #89c331 30%, #6B9926 100%);
    border-color: #818181;
    font-size: 16px;
}

.submitNewRed {
    width: 250px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(#f5d5f5 0%, #f04a56 30%, #A9353C 100%);
    border-width: 2px;
    border-style: solid;
    border-color: #929292;
    border-radius: 40px;
    outline: none;
    transition: all ease-in-out 100ms;
}

.submitNewRed:hover {
    border-color: #616161;
    background: linear-gradient(#f5d5f5 10%, #f04a56 45%, #A9353C 100%);
    font-size: 18px;
}

.submitNewRed:active {
    background: linear-gradient(#f5d5f5 0%, #f04a56 30%, #A9353C 100%);
    border-color: #818181;
    font-size: 16px;
}

.submitNewDarkcyan {
    width: 250px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(#b5f5f5 0%, #20807c 30%, #1A6764 100%);
    border-width: 2px;
    border-style: solid;
    border-color: #929292;
    border-radius: 40px;
    outline: none;
    transition: all ease-in-out 100ms;
}

.submitNewDarkcyan:hover {
    border-color: #616161;
    background: linear-gradient(#b5f5f5 10%, #20807c 45%, #1A6764 100%);
    font-size: 18px;
}

.submitNewDarkcyan:active {
    background: linear-gradient(#b5f5f5 0%, #20807c 30%, #1A6764 100%);
    border-color: #818181;
    font-size: 16px;
}

.hoverClassBlack:hover {
    background-color: #dddddd;
}

.hoverClassGreen:hover {
    background-color: #dddddd;
}

.hoverClassRed:hover {
    background-color: #dddddd;
}

.hoverClassDarkcyan:hover {
    background-color: #dddddd;
}

.fas, .far {
    font-size: 24px;
    vertical-align: middle;
}